# Visual Studio cache files
/.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo

# Rider files
.idea/

# Mac files
.DS_Store

# Node.js (React projesi için)
/adminpanel/node_modules/
/adminpanel/build/
/adminpanel/.pnp.*
/adminpanel/.env.local
/adminpanel/.env.development.local
/adminpanel/.env.test.local
/adminpanel/.env.production.local
